#side-bar {
  --background: #ffffff;
  --sidebar-width: 256px;
  --sidebar-width-min: 80px;
  --sidebar-dark-primary: #ffff;
  --sidebar-dark-secondary: #fcfcfc;
  --sidebar-light-primary: #303030;
  --sidebar-light-secondary: #00193a;
}

#side-bar-content::-webkit-scrollbar {
  width: 0 !important;
}

#side-bar-content::-webkit-scrollbar-track {
  background: transparent;
}

#side-bar-content::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.3) !important;
  border-radius: 24px;
}

#side-bar-content::-webkit-scrollbar-thumb:hover {
  background-color: rgba(119, 119, 119, 0.8) !important;
}

#side-bar-footer-content::-webkit-scrollbar {
  width: 0 !important;
}

#side-bar-toggle:checked ~ #side-bar-header {
  width: calc(var(--sidebar-width-min) - 16px);
  transform: translateX(-10px);
}
#side-bar-toggle:checked ~ #side-bar-content, #side-bar-toggle:checked ~ #side-bar-footer {
  width: var(--sidebar-width-min);
}

#side-bar-toggle:checked ~ #side-bar-header #side-bar-title {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.1s;
}
#side-bar-toggle:checked ~ #side-bar-header label[htmlFor=side-bar-toggle] {
  left: calc(50% - 8px);
  transform: translate(-50%, 0);
}
#side-bar-toggle:checked ~ #side-bar-header #side-bar-toggle-burger {
  width: 24px;
  height: 2px;
  background: #acacac;
}
#side-bar-toggle:checked ~ #side-bar-header #side-bar-toggle-burger:before, #side-bar-toggle:checked ~ #side-bar-header #side-bar-toggle-burger::after {
  width: 24px;
  background: #acacac;
  transform: translate(0%, 6px) rotate(0deg);
}
#side-bar-toggle:checked ~ #side-bar-content .side-bar-button span {
  opacity: 0;
  transition: opacity 0.1s;
}
#side-bar-toggle:checked ~ #side-bar-content .side-bar-button .fas {
  min-width: calc(100% - 16px);
}
#side-bar-toggle:checked ~ #side-bar-footer #side-bar-footer-avatar {
  margin-left: 0;
  left: 50%;
  transform: translate(-50%);
}
#side-bar-footer #side-bar-footer-titlebox {
  min-width: 80px;
  text-align: left;
}
#side-bar-toggle:checked ~ #side-bar-footer #side-bar-footer-titlebox, #side-bar-toggle:checked ~ #side-bar-footer label[for=side-bar-footer-toggle] {
  opacity: 0;
  transition: opacity 0.1s;
  pointer-events: none;
}

#side-bar {
  position: fixed;
  z-index: 99;
  left: 80px;
  top: 14vh;
  height: calc(82%);
  background: var(--sidebar-dark-primary);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  color: var(--sidebar-light-primary);
  box-shadow: rgba(7, 49, 85, 0.36) 1px 2px 6px 0px inset;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  overflow: hidden;
  user-select: none;
}

#side-bar-outer {
  position: fixed;
  left: 58px;
  top: 11vh;
  z-index: 98;
  height: calc(82% + 40px);
  width: 296px;
  pointer-events: none;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  border: 0.8px solid rgb(204, 219, 232);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(110, 110, 110, 0.2) 0px -3px 5px inset;
  transition: width 0.2s;
  transition-delay: 1s;
}

body:has(#side-bar-toggle:checked) #side-bar-outer {
  width: 120px;
}

#side-bar-content .side-bar-button .fas {
  color: var(--sidebar-light-secondary);
  height: 32px;
  transition: color 0.5s ease;
}


#side-bar hr {
  margin: 0;
  position: relative;
  left: 16px;
  width: calc(100% - 32px);
  border: none;
  border-top: solid 1px var(--sidebar-dark-secondary);
}
#side-bar a {
  color: inherit;
  text-decoration: inherit;
}
#side-bar input[type=checkbox] {
  display: none;
}

#side-bar-header {
  position: relative;
  width: var(--sidebar-width);
  left: 16px;
  width: calc(var(--sidebar-width) - 16px);
  min-height: 80px;
  background: transparent;
  border-radius: 16px;
  z-index: 2;
  display: flex;
  align-items: center;
  transition: width 0.2s;
  transition-delay: 1s;
}
#side-bar-header hr {
  position: absolute;
  bottom: 0;
}

#side-bar-title {
  font-size: 1.5rem;
  transition: opacity 1s;
}

label[for=side-bar-toggle] {
  position: absolute;
  right: 20px;
  width: 1.5rem;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#side-bar-toggle-burger {
  position: relative;
  left: 5px;
  top: 5px;
  width: 24px;
  height: 2px;
  background: var(--sidebar-dark-primary);
  border-radius: 99px;
  transition: background 0.2s;
}
#side-bar-toggle-burger:before, #side-bar-toggle-burger:after {
  content: "";
  position: absolute;
  top: -12px;
  width: 12px;
  height: 2.2px;
  background: #acacac;
  border-radius: 99px;
  transform: translate(0, 9px) rotate(35deg);
  transition: all 0.4s ease;
}
#side-bar-toggle-burger:after {
  top: 0;
  transform: translate(0, -9px) rotate(-35deg);
}

#side-bar-content {
  margin: -16px 0;
  padding: 16px 0;
  position: relative;
  flex: 1;
  width: var(--sidebar-width);
  background: transparent;
  direction: rtl;
  overflow-x: hidden;
  scroll-behavior: smooth;
  transition: width 0.2s;
  transition-delay: 1s;
}
#side-bar-content::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
#side-bar-content::-webkit-scrollbar-thumb {
  border-radius: 99px;
  background-color: #D62929;
}
#side-bar-content::-webkit-scrollbar-button {
  height: 16px;
}

#side-bar-content-highlight {
  position: absolute;
  z-index: 1;
  left: 16px;
  top: -70px;
  width: calc(100% - 30px);
  height: 54px;
  background-color: rgba(203, 203, 203, 0.6);
  border: 5px double #333333;
  background-attachment: fixed;
  border-radius: 16px 30px 0 16px;
  transform: translateX(-5px);
  transition: top 0.2s, background-color 0.4s ease;
}

#side-bar:has(#side-bar-toggle:checked) #side-bar-content-highlight {
  border-radius: 16px;
  width: calc(100% - 20px);
}
#side-bar:has(#side-bar-toggle:checked) .side-bar-button {
  margin-left: 16px;
}

.side-bar-button {
  position: relative;
  margin-left: 16px;
  height: 54px;
  display: flex;
  align-items: center;
  color: var(--sidebar-light-secondary);
  direction: ltr;
  cursor: pointer;
  border-radius: 8px 0 0 8px;
  opacity: 1;
  z-index: 1;
  transition: color 0.5s ease, opacity 0.4s ease, margin 0.3s ease;
}
.side-bar-button span {
  font-weight: 400;
  border-left: 3px solid rgba(128, 128, 128, 0.3);
  padding-left: 10px;
  transition: opacity 1s;
  transition-delay: 1s;
}
.side-bar-button .fas {
  transition: min-width 0.2s;
}

.side-bar-button:nth-of-type(1):hover,
.side-bar-button:nth-of-type(1):hover .fas {
  color: rgb(0, 134, 80) !important;
}
.side-bar-button.staff {pointer-events: none; margin-left: 30px;}
.side-bar-button.staff ~ #side-bar-content-highlight {
  top: 16px;
}
#side-bar:has(.side-bar-button.staff) #gearwheel-a {
  transform: translateY(-40%) scale(0.1) rotate(0deg);
}
#side-bar:has(.side-bar-button.staff) #gearwheel-b {
  transform: translateY(-40%) scale(0.15) rotate(20deg);
}
.side-bar-button:nth-of-type(2):hover,
.side-bar-button:nth-of-type(2):hover .fas  {
  color: #721e1e !important;
}
.side-bar-button.subject {pointer-events: none; margin-left: 30px;}
.side-bar-button.subject ~ #side-bar-content-highlight {
  top: 70px;
}
#side-bar:has(.side-bar-button.subject) #gearwheel-a {
  transform: translateY(-40%) scale(0.1) rotate(100deg);
}
#side-bar:has(.side-bar-button.subject) #gearwheel-b {
  transform: translateY(-40%) scale(0.15) rotate(-120deg);
}
.side-bar-button:nth-of-type(3):hover,
.side-bar-button:nth-of-type(3):hover .fas  {
  color: rgb(100, 100, 100) !important;
}
.side-bar-button.semester {pointer-events: none; margin-left: 30px;}
.side-bar-button.semester ~ #side-bar-content-highlight {
  top: 124px;
}
#side-bar:has(.side-bar-button.semester) #gearwheel-a {
  transform: translateY(-40%) scale(0.1) rotate(200deg);
}
#side-bar:has(.side-bar-button.semester) #gearwheel-b {
  transform: translateY(-40%) scale(0.15) rotate(-220deg);
}
.side-bar-button:nth-of-type(4):hover,
.side-bar-button:nth-of-type(4):hover .fas  {
  color: #251f8a !important;
}
.side-bar-button.room {pointer-events: none; margin-left: 30px;}
.side-bar-button.room ~ #side-bar-content-highlight {
  top: 178px;
}
#side-bar:has(.side-bar-button.room) #gearwheel-a {
  transform: translateY(-40%) scale(0.1) rotate(300deg);
}
#side-bar:has(.side-bar-button.room) #gearwheel-b {
  transform: translateY(-40%) scale(0.15) rotate(-320deg);
}
.side-bar-button:nth-of-type(5):hover,
.side-bar-button:nth-of-type(5):hover .fas  {
  color: rgb(9, 119, 129) !important;
}
.side-bar-button.student {pointer-events: none; margin-left: 30px;}
.side-bar-button.student ~ #side-bar-content-highlight {
  top: 232px;
}
#side-bar:has(.side-bar-button.student) #gearwheel-a {
  transform: translateY(-40%) scale(0.1) rotate(400deg);
}
#side-bar:has(.side-bar-button.student) #gearwheel-b {
  transform: translateY(-40%) scale(0.15) rotate(-420deg);
}
.side-bar-button:nth-of-type(6):hover,
.side-bar-button:nth-of-type(6):hover .fas  {
  color: #38106b !important;
}
.side-bar-button.exam {pointer-events: none; margin-left: 30px;}
.side-bar-button.exam ~ #side-bar-content-highlight {
  top: 286px;
}
#side-bar:has(.side-bar-button.exam) #gearwheel-a {
  transform: translateY(-40%) scale(0.1) rotate(500deg);
}
#side-bar:has(.side-bar-button.exam) #gearwheel-b {
  transform: translateY(-40%) scale(0.15) rotate(-520deg);
}
.side-bar-button:nth-of-type(7):hover,
.side-bar-button:nth-of-type(7):hover .fas  {
  color: rgb(65, 146, 68) !important;
}
.side-bar-button.exam-room {pointer-events: none; margin-left: 30px;}
.side-bar-button.exam-room ~ #side-bar-content-highlight {
  top: 340px;
}
#side-bar:has(.side-bar-button.exam-room) #gearwheel-a {
  transform: translateY(-40%) scale(0.1) rotate(600deg);
}
#side-bar:has(.side-bar-button.exam-room) #gearwheel-b {
  transform: translateY(-40%) scale(0.15) rotate(-620deg);
}
.side-bar-button:nth-of-type(8):hover,
.side-bar-button:nth-of-type(8):hover .fas  {
  color: #c15000 !important;
}
.side-bar-button.template {pointer-events: none; margin-left: 30px;}
.side-bar-button.template ~ #side-bar-content-highlight {
  top: 394px;
}
#side-bar:has(.side-bar-button.template) #gearwheel-a {
  transform: translateY(-40%) scale(0.1) rotate(700deg);
}
#side-bar:has(.side-bar-button.template) #gearwheel-b {
  transform: translateY(-40%) scale(0.15) rotate(-720deg);
}

#side-bar .fas {
  min-width: 3rem;
  text-align: center;
}

#side-bar-footer {
  position: relative;
  width: var(--sidebar-width);
  height: 54px;
  background: var(--sidebar-dark-secondary);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  z-index: 2;
  transition: width 0.2s, height 0.2s;
  transition-delay: 1s;
}

#side-bar-toggle:checked ~ #side-bar-footer {
  height: 0;
}

#side-bar-footer-heading {
  position: relative;
  width: 100%;
  height: 54px;
  display: flex;
  background: #ccc;
  box-shadow:
        2px 1px 1px #fff inset,
        0 -4px 6px 5px #0002;
  border-radius: 16px 16px 0 0;
  align-items: center;
}

#side-bar-footer-avatar {
  position: relative;
  margin: 11px 0 11px 16px;
  left: 0;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  overflow: hidden;
  transform: translate(0);
  transition: 0.2s;
  transition-delay: 1s;
}
#side-bar-footer-avatar img {
  height: 100%;
}

#side-bar-footer-titlebox {
  position: relative;
  margin-left: 16px;
  width: 10px;
  display: flex;
  flex-direction: column;
  transition: opacity 1s;
}

#side-bar-footer-subtitle {
  color: var(--sidebar-light-secondary);
  font-size: 0.6rem;
}

#side-bar-toggle:not(:checked) ~ #side-bar-footer-toggle:checked + #side-bar-footer {
  height: 30%;
  min-height: 54px;
}
#side-bar-toggle:not(:checked) ~ #side-bar-footer-toggle:checked + #side-bar-footer label[for=side-bar-footer-toggle] {
  transform: translate(-5px, -2px) rotate(-30deg);
}

label[for=side-bar-footer-toggle] {
  position: absolute;
  right: 0;
  width: 3rem;
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
  transform: translate(-10px, -2px) rotate(-120deg);
  transition: transform 0.2s, opacity 0.2s;
}

label[for=side-bar-footer-toggle] .dial {
              width: 42px;
              height: 42px;
              border: 2px solid #6e706f;
              border-radius: 50%;
              box-shadow: 0 0 1px 2px #000;
              display: flex;
              justify-content: center;
              align-items: center;
              position: relative;
              cursor: -webkit-grab;
              cursor: grab;
            }

label[for=side-bar-footer-toggle] .dial .data-container {
                display: flex;
                justify-content: center;
                width: 100%;
                height: 100%;
              }

label[for=side-bar-footer-toggle] .dial .data-container .data {
                  color: #888;
                  font-size: 6px;
                  text-shadow: 0 0 2px #888;
                  position: absolute;
                  top: 0;
                  height: 100%;
                  transform-origin: 50% 50%;
                }

label[for=side-bar-footer-toggle] .dial .data-container .data:nth-child(2) { transform: rotate(30deg); }

label[for=side-bar-footer-toggle] .dial .data-container .data:nth-child(3) { transform: rotate(60deg); }

label[for=side-bar-footer-toggle] .dial .data-container .data:nth-child(4) { transform: rotate(90deg); }

label[for=side-bar-footer-toggle] .dial .data-container .data:nth-child(5) { transform: rotate(120deg); }

label[for=side-bar-footer-toggle] .dial .data-container .data:nth-child(6) { transform: rotate(150deg); }

label[for=side-bar-footer-toggle] .dial .data-container .data:nth-child(7) { transform: rotate(180deg); }

label[for=side-bar-footer-toggle] .dial .data-container .data:nth-child(8) { transform: rotate(210deg); }

label[for=side-bar-footer-toggle] .dial .data-container .data:nth-child(9) { transform: rotate(240deg); }

label[for=side-bar-footer-toggle] .dial .data-container .data:nth-child(10) { transform: rotate(270deg); }

label[for=side-bar-footer-toggle] .dial .data-container .data:nth-child(11) { transform: rotate(300deg); }

label[for=side-bar-footer-toggle] .dial .data-container .data:nth-child(12) { transform: rotate(330deg); }

label[for=side-bar-footer-toggle] .dial .dial-core {
                width: 24px;
                height: 24px;
                border-radius: 50%;
                background: conic-gradient(#eee 0deg 45deg, #b8b8b8 70deg 285deg, #eee 320deg);
                position: absolute;
              }

label[for=side-bar-footer-toggle] .dial .selector {
                position: absolute;
                width: 75%;
                background: #aaa;
                height: 4px;
                border: 1px solid #666;
                border-radius: 4px / 8px;
                transform: rotate(calc(var(--value) - 90deg));
                transition: transform 0.25s linear;
              }

#side-bar-footer-content {
  margin: 0 2px 0 4px;
  /* border-top: solid 1px var(--sidebar-light-secondary); */
  box-shadow:
        0px -1px 1px #dddddd inset,
        3px -4px 6px 5px #0002;
  padding: 16px 16px;
  color: var(--sidebar-light-secondary);
  font-size: 0.8rem;
  overflow: auto;
}

#gearwheel-a {
  height: 400px;
  width: 400px;
  border-radius: 50% 50%;
  background: radial-gradient(circle, white 10%, #555 10%, #555 20%, transparent 20%), linear-gradient(0deg, transparent calc(50% - 10px), #555 calc(50% - 10px), #555 calc(50% + 10px), transparent calc(50% + 10px)), linear-gradient(90deg, transparent calc(50% - 10px), #555 calc(50% - 10px), #555 calc(50% + 10px), transparent calc(50% + 10px)), radial-gradient(circle, white 40%, #555 40%, #555 60%, transparent 60%), linear-gradient(22.5deg, transparent calc(50% - 19px), #555 calc(50% - 19px), #555 calc(50% + 19px), transparent calc(50% + 19px)), linear-gradient(45deg, transparent calc(50% - 19px), #555 calc(50% - 19px), #555 calc(50% + 19px), transparent calc(50% + 19px)), linear-gradient(67.5deg, transparent calc(50% - 19px), #555 calc(50% - 19px), #555 calc(50% + 19px), transparent calc(50% + 19px)), linear-gradient(90deg, transparent calc(50% - 19px), #555 calc(50% - 19px), #555 calc(50% + 19px), transparent calc(50% + 19px)), linear-gradient(112.5deg, transparent calc(50% - 19px), #555 calc(50% - 19px), #555 calc(50% + 19px), transparent calc(50% + 19px)), linear-gradient(135deg, transparent calc(50% - 19px), #555 calc(50% - 19px), #555 calc(50% + 19px), transparent calc(50% + 19px)), linear-gradient(157.5deg, transparent calc(50% - 19px), #555 calc(50% - 19px), #555 calc(50% + 19px), transparent calc(50% + 19px)), linear-gradient(180deg, transparent calc(50% - 19px), #555 calc(50% - 19px), #555 calc(50% + 19px), transparent calc(50% + 19px));
  position: absolute;
  top: 0px;
  left: 20px;
  transition: transform 0.4s ease;
}
#gearwheel-b {
  height: 200px;
  width: 200px;
  border-radius: 50% 50%;
  background: radial-gradient(circle, white 10%, #555 10%, #555 20%, transparent 20%), linear-gradient(34deg, transparent calc(50% - 10px), #555 calc(50% - 10px), #555 calc(50% + 10px), transparent calc(50% + 10px)), linear-gradient(124deg, transparent calc(50% - 10px), #555 calc(50% - 10px), #555 calc(50% + 10px), transparent calc(50% + 10px)), radial-gradient(circle, white 40%, #555 40%, #555 60%, transparent 60%), linear-gradient(79deg, transparent calc(50% - 19px), #555 calc(50% - 19px), #555 calc(50% + 19px), transparent calc(50% + 19px)), linear-gradient(124deg, transparent calc(50% - 19px), #555 calc(50% - 19px), #555 calc(50% + 19px), transparent calc(50% + 19px)), linear-gradient(169deg, transparent calc(50% - 19px), #555 calc(50% - 19px), #555 calc(50% + 19px), transparent calc(50% + 19px)), linear-gradient(214deg, transparent calc(50% - 19px), #555 calc(50% - 19px), #555 calc(50% + 19px), transparent calc(50% + 19px));
  position: absolute;
  top: -4px;
  left: 141px;
  transition: transform 0.4s ease;
}

#mech {
  height: 50px;
}