@import url('https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Saira+Stencil+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Saira+Stencil+One&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bitcount+Prop+Single:wght@100..900&family=Tilt+Neon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=WDXL+Lubrifont+TC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

#root {
  width: 100%;
  height: 100%;
  min-height: 300vh;
  margin: 0;
}

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  background: black;
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.6);
  border-radius: 24px;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: rgba(119, 119, 119, 0.8);
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  background: #FFFFFF;
  color: #f9f9f9;
  line-height: 1.6;
  overflow-x: hidden;
}

#root .app {
  width: 100%;
  margin: 0;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Buttons */
.btn-primary {
  border: none;
  outline: none;
  font-size: 14px;
  padding: 0.6rem 1rem;
  border-radius: 20px;
  background: #000000;
  color: white;
  box-shadow: rgba(255, 255, 255, 0.6) 0px 0px 6px;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-primary:hover {
  color: #000000;
  background: #ffffff;
}

.fancy {
  position: relative;
  white-space: nowrap;
  &:after {
    --deco-height: 0.3125em;
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: calc(var(--deco-height) * -0.625);
    height: var(--deco-height);
    background-image: url("data:image/svg+xml,%3Csvg width='100' height='64' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23a)'%3E%3Cpath d='M-17 30.5C-1 22 72-4 54 13 37.9 28.2-2.5 57.5 16 55.5s72-29 104-40' stroke='%2300FDCF' stroke-width='10'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h100v64H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    background-size: auto 100%;
    background-repeat: round;
    background-position: 0em;
  }
}

.emphasis-color {
  font-style: italic;
  color: #75FBC0;
}